body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
 }
 .App ul.menu {
  margin: 50px;
  padding: 0;
  list-style: none;
 }
 .App ul.menu li {
  display: inline-block;
  padding: 0 10px;
 }
 .App ul.menu li a {
  color: #333;
  text-decoration: none;
 }
 .App ul.menu li a:hover {
  color: #ccc;
 }