.Contacts ul {
  list-style: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
 }
 .Contacts ul li {
  padding: 10px;
 }
 .Contacts a {
  color: #555;
  text-decoration: none;
 }
 .Contacts a:hover {
  color: #ccc;
  text-decoration: none;
 }